@import '../../../scss/config';

.BurgerMenu {
  top: $header-height;
  position: absolute;
  bottom: 0;
  right: 25%;
  left: 0;
  background: $primary-color;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform $animation-duration-short linear;

  &--isOpen {
    transform: translateX(0);
  }

  &__Header {
    flex: 0 0 auto;
    width: 100%;
    height: 55px;
  }

  &__Content {
    max-width: 100%;
    padding: 1rem;
  }

  &__UserLink {
    color: $white;
    font-weight: $font-weight-light;
    font-size: 1.2rem;
  }

  &__List {
    max-width: 100%;
    flex: 1 1 auto;
    display: flex;

    & > ul {
      color: $white;
      font-weight: $font-weight-light;
      font-size: 1.2rem;
      flex-direction: column;
      display: flex;
      width: 100%;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px $lighter-blue solid;
      & > li {
        line-height: 3rem;
        text-transform: uppercase;
        &:hover {
          color: $secondary-color;
          cursor: pointer;
        }
      }
    }
  }

  &__Content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__Footer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    font-size: 1.2rem;
    line-height: 3rem;
    color: $lighter-blue;

    & > ul {
      flex-direction: column;
    }
  }


}


.stayConfPlaceHolder {
  height: 425px;
  width: 425px;
  background: $primary-color;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: $white;
  font-family: $font-dalaFloda;
}

/* Desktop
   ==================================== */
@include media-breakpoint-up(md) {
  .BurgerMenu {
    top: $header-height;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: $white;

    &__Content {
      flex-direction: row;
      max-width: 980px;
      margin: 5rem auto 0 auto;
    }

    &__UserLinks {
      display: none;
    }

    &__List {
      max-width: 50%;
      flex: 1 1 auto;
      font-family: $font-dalaFloda;
      font-weight: 500;
      & > ul {
        justify-content: space-between;
        border: 0;
        margin: 0;
        padding: 0;
        & > li {
          color: $primary-color;
          font-size: 2rem;
          text-transform: none;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }

    &__Footer {
      width: 50%;
      align-items: center;
      margin: 2rem 0;
      font-size: 1.5rem;
      & > ul {
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        & > li:hover {
          color: $primary-color;
          text-decoration: underline;
          cursor: pointer;
        }
      }

    }

  }

  .stayConfPlaceHolder {
    display: flex;
  }
}





