@import "../../styles/override-config";

// Ours brand
///////////////////////////////////////////
.blockBrands{

  &__title{
    @extend .heading-primary-1;
    text-align: center;
    margin: 50px 0 0px 0;
  }

  &__intro{
    @extend .heading-secondary-3;
    text-align: center;
    margin: 0 0 35px 0;
  }

  &__brand {
    justify-content: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 0 50px 0;
  }

  &__txt{
    margin: 20px 0 30px 0;
    @extend .body-1--secondary;
  }

  &__Link{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 50px 0;
    span{
      text-decoration: underline;
      margin-right: 5px;
    }
    i{
      color:$secondary-color;
      font-size: 1.5em;
    }
  }

  &__subTitle{
    @extend .heading-primary-2;
    text-align: center;
    margin: 35px 0 0 0;
  }

}


/* GRID
   ========================================================================== */

.WrapperPage{
  @include make-container();
  margin: auto;
}

.blockBrands {

  &__wrapper {
    @include make-row();
    justify-content: center;
  }

  &__brand,
  &__Link,
  &__title,
  &__subTitle,
  &__intro{
    @include make-col-ready();
  }

}

// Desktop
@include media-breakpoint-up(md) {

    .blockBrands{

      &__brand{
        @include make-col(4);
      }

    }
}





/* resume article txt img
========================================================================== */
.resumeArticleTxtImg-1{
  margin: 50px 0;

  &__txt,
  &__img{
    @include make-col-ready();
  }

  &__title{
    @extend .heading-secondary-3;
  }

  &__desc{
    @extend .body-1--secondary;
  }

}


/* GRID
   ========================================================================== */


/* Mobile
----------------------------*/

.resumeArticleTxtImg-1 {
  @include make-row();
  margin: 50px 0;
  align-items: center;
  &__txt,
  &__img{
    @include make-col-ready();
  }
}

/* Desktop
----------------------------*/
@include media-breakpoint-up(md) {
  .resumeArticleTxtImg-1 {
    &__txt,
    &__img{
      @include make-col(6);
    }

    &__txt{
      padding: 0 12%;
    }
  }
}
