{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "styled-components",
    "transform-es2015-modules-commonjs",
    "transform-regenerator",
    "transform-class-properties",
    "transform-decorators-legacy"
  ]
}
