@import '../../../scss/config';

.displayWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.PartnersLogo {
  &__Container {
    @extend .displayWrap;
    align-items: center;
  }
  &__Row {
    @extend .displayWrap;
    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px;
    }
  }
}