@import "../../../styles/override-config";

.PartnerAdvantages {
  margin: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__Title {
    @extend .heading-primary-2;
  }

  &__List {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
