@import '../../../scss/config';

// Using Css Grid
.card-wrapper {
    display: grid;
    grid-gap: 30px;
    padding: 5vh;
    grid-auto-rows: auto;
}

.one-card {
    grid-template-columns: 1fr 400px 1fr ;

    .card-item-wrapper {
        grid-column-start: 2;
    }
}

.two-cards {
   grid-template-columns: 1fr repeat(2, minmax(400px, 1fr)) 1fr;

   .card-item-wrapper:nth-child(odd) {
        grid-column-start: 2;
    }
}

.three-cards {
    grid-template-columns: 5% repeat(3, minmax(300px, 1fr)) 5%;

    .card-item-wrapper:first-child {
        grid-column-start: 2;
    }

    .card-item-wrapper:nth-child(4n) {
        grid-column-start: 2;
    }
}

.card-item {
    text-align: center;
    padding: 10px;
}

.partnership-title {
    @extend .heading-primary-2;
}

// Not mobile first
@media only screen and (max-width: 530px) {
    .card-wrapper {
        display: grid;
        grid-gap: 0;
        grid-auto-rows: auto;
        grid-row-gap: 5vh;
    }

    .one-card, .two-cards, .three-cards {
        grid-template-columns: 1fr;
    }

    .two-cards {
        .card-item-wrapper:nth-child(odd) {
            grid-column-start: 1;
        }
     }

     .three-cards {
        .card-item-wrapper:first-child, .card-item-wrapper:nth-child(4n) {
            grid-column-start: 1;
        }
     }
}