@import '../../../../scss/_config.scss';

.RoomsForm {
  background: $primary-color;
  padding: $form-padding;

  &__Header {
    margin-left: -$form-padding;
    margin-right: -$form-padding;
  }

  &__RoomUpdate {
      margin-bottom: 1rem;
  }

  &__Button {
      color: #ffffff;
      display: flex;
      align-items: center;
      margin: 0 auto 2rem auto;
      text-transform: uppercase;
      cursor: pointer;
  }

  &__Label {
      text-decoration: underline;
      margin-left: .5rem;
  }
}
