@import "../../styles/override-config";

.PartnerHeader {
  @include make-col-ready();
  @include make-col(12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__Name {
    @extend .heading-primary-1;
  }

  &__Image {
    & > img {
      max-width: 100%;
      height: auto;
    }
  }

  &__Desc {
    font-weight: $font-weight-light;
    text-align: justify;
    width: 100%;
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }
}

.PartnerLink {
  @extend .link;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  transform: scaleY(1.001);
}

.PartnerLogo {
  &__Grid {
    @include make-col-ready(); 
    @include make-row();
  }
  &__Image {
    text-align: center;
    @include make-col(2); 
  }
  &__Border {
    text-align: center;
    @include make-col(1); 
  }
}
/* DESKTOP
   ========================================================================== */
@include media-breakpoint-up(md) {
  .PartnerHeader__Name {
    transform: translateY(50%);
  }
}
