@import "../../styles/override-config";

.PartnerLink {
  @extend .link;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  transform: scaleY(1.001);
}

/* DESKTOP
   ========================================================================== */
@include media-breakpoint-up(md) {
  .PartnerHeader__Name {
    transform: translateY(50%);
  }
}
