@import "../../../styles/override-config";

.PartnerAdvantages {
  margin: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__Title {
    @extend .heading-primary-2;
  }

  &__List {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.Advantage {
  width: 270px;
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $darker-grey;
  color: $lighter-blue;
  text-align: center;
  font-size: 1.125rem;
  flex: 0 0 auto;
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}
