@import '../../utils/scss/variables.scss';
@import '../../utils/scss/breakpoints.scss';
@import '../../utils/scss/global.scss';


/**
 * This css is a bit dirty coz of the inline style of the component used
 */
.NumericInput {
  border: none !important;
  color: $ui-text;
  height: rem-calc(27px + 4px)  !important;
  line-height: rem-calc(27px + 4px)  !important;
  vertical-align: middle;
  width: rem-calc(60px);
  @extend .ui-element-font;
  text-align: center;
  
  &__InputWrap {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }

  &__Button {
    border: solid 1px $white-input-border-color;
    font-weight: 300;
    border-radius: 100%;
    height: rem-calc(27px);
    width: rem-calc(27px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-input-border-color;
    cursor: pointer;

    & span { // Center the "-" in the div > It misses 2px
      position: relative;
      top: -2px;
    }
  }
}

.NumericInput__Wrapper {
  width: 100%;
  justify-content: space-between;
  display: flex;
  height: rem-calc(125px / 2);
  border-bottom: $ui-border;
  align-items: center;

  &-noBorder {
    width: 100%;
    justify-content: space-between;
    display: flex;
    height: rem-calc(125px / 2);
    border: none;
    align-items: center;
  }
}

.NumericInput__Label {
  @extend .ui-element-font;
  display: flex;
  flex: 1;
  color: $ui-text;
  text-transform: capitalize;
  &-mini {
    @extend .ui-element-small-font; 
  }
  @media #{$large-up} {
    font-size: 1rem;
  }
}