@import '../../../../styles/override-config';

.MainArticle {
  display: flex;
  flex-direction: column;

  &__Img {
    flex: 1;
  }

  &__Info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;

    &__Wrapper {
      align-self: center;
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }

  &__Title {
    color: $primary-color;
    font-size: 1.4rem;
    margin-top: 5px;
  }

  &__Date {
    margin-top: 10px;
  }

  &__Description {
    color: $primary-color-light;
    font-size: 1.1rem;
    font-weight: $font-weight-regular;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

// Desktop
@include media-breakpoint-up(md) {

  .MainArticle{
    flex-direction: row;

    &__Date {
      margin-top: 0;
    } 
  }
}