@import '../../../../scss/_config.scss';

.WrapperForm {
  display: flex;
  background: $primary-color;
  padding: $form-padding;
  color: $white;

  &--White {
    background: $white;
    color: $primary-color;
  }

  &__Title {    
    text-align: center;
    font-size: $heading-primary-3-font-size;
    font-family: $heading-primary-3-font-family;
    font-weight: $heading-primary-3-font-weight;
  }

  &__Form {
    display: flex;
    flex: 1;
    flex-direction: column;

    &--Inline {
      flex-direction: row;
    }
  }
}