@import '../../../scss/variables';

.FooterWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  border-top: 1px dashed $primary-color;
  flex-wrap: wrap;
  flex-direction: column;
  color: $primary-color;

  &__Scissors {
    height: 2rem;
    width: 2rem;
    align-self: flex-end;
    margin: -1.3rem 3rem 1rem auto;
    font-size: 3rem;
  }
}

