@import '../../../../scss/variables';

.Socials {
  width: 80%;
  margin: 0px auto 1rem auto;
  font-size: 1.5rem;
  &__Title {
    color: $tertiary-color;
    font-size: rem-calc(16px);
    text-align: center;
    width: 100%;
    display: inline-block;
    font-weight: $font-weight-light;
    line-height: 1rem;
  }

  &__Networks {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
