@import '../../../scss/config';

.ViewMiles {
  &__Title {
    @extend .heading-primary-2;
    text-align: center;
  }

  &__Desc {
    color: $lighter-blue;
    font-size: 1.125rem;
    font-weight: $font-weight-light;
    text-align: center;
    width: 60%;
    margin: 20px auto 20px auto;
  }

  &__Select__Wrapper {
    margin: auto;
    position: relative;
    text-align: center;
    width: 80%;
  }
}

/* DESKTOP
   ========================================================================== */
@include media-breakpoint-up(md) {
  .ViewMiles {
    &__Desc {
      width: 43%;
    }

    &__Select__Wrapper {
      width: 32%;
    }
  }
}