@import '../../../scss/_config.scss';

.Input {
  width: 100%;
  flex: 0 0 auto;  

  &--half {
    width: 48.5%;
    margin-bottom: 1.5rem;
  }

  &__Label {
    width: 100%;
    text-transform: capitalize;
    display: block;
    color: $label-color;
    font-size: $label-font-size;
    margin: $label-margin;

    &--Light {
      color: $label-light-color;
    }
  }

  &__Wrapper {
    width: 100%;
    position: relative;
    display: flex;
    height: $input-height;
    border: $input-border;
    align-items: center;
    justify-content: space-between;    
    margin: $input-margin;
    padding: $input-padding;
    background: $input-background;

    & input {
      width: 100%;
      height: 100%;
      border: 0;
      padding: $input-padding;
      outline: none;
      background: transparent;
      color: inherit;

      &::placeholder {
        opacity: $input-alpha;
        color: inherit;
      }      
    }

    &--Light {
      border: $input-border-light;
      background: rgba($label-light-color, $input-alpha / 2);
      color: $label-light-color;
    }

    &--Disabled {
      background: $input-disabled-background;
      color: $input-disabled-color;
      outline: none;
    }

    &--Error {        
      border-bottom: solid $input-error-color 2px;

      & i {
        color: $input-error-color;
      }
    }

    &--Focused {
      border-bottom: solid $input-focus-color 2px;

      & i {
        font-size: 1rem;
        color: $input-focus-color;
      }
    }
  }

  &__Error {
    display: block;
    color: $input-error-color;
    overflow: hidden;
  }
}
