@import '../../../../styles/override-config';

.ArticlesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;

  &__First {
    left: -5vh;
    margin-bottom: 30px;
    position: relative;
  }

  &__Btn {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}