@charset "UTF-8";
@import 'reset';
@import "variables";
@import "fonts";
// Boostrap (grid & breakpoint)
@import "bootstrap/bootstrap-grid";

// ==========================================================================
// Global
// ==========================================================================

// Right to left

body{
  direction: ltr;
  font-family: $font-metric;
}

img{
  max-width: 100%;
}
