// Font name
$iconFont: 'icomoon';

$icon-lift: "\e975";
$icon-plane: "\e974";
$icon-adult-alone: "\e901";
$icon-adult: "\e90e";
$icon-child-alone: "\e913";
$icon-2adults1child: "\e93b";
$icon-2adults2children: "\e949";
$icon-2adults: "\e94a";
$icon-3adults: "\e94b";
$icon-stay-more: "\e94c";
$icon-morethan4persons: "\e94d";
$icon-handy: "\e94e";
$icon-baby-foot: "\e94f";
$icon-sleepersandbathrobe: "\e950";
$icon-beach: "\e951";
$icon-aircon: "\e952";
$icon-cocktail: "\e953";
$icon-coffeeandtea: "\e954";
$icon-concierge: "\e955";
$icon-connecting-room: "\e956";
$icon-diningarea: "\e957";
$icon-entertainment: "\e958";
$icon-family: "\e959";
$icon-festivity: "\e95a";
$icon-gastronomy: "\e95b";
$icon-bed-king: "\e95c";
$icon-kitchenette: "\e95d";
$icon-livingarea: "\e95e";
$icon-seplivingroom: "\e95f";
$icon-freeminibar: "\e960";
$icon-freenespresso: "\e961";
$icon-park-sleep-fly: "\e962";
$icon-pkg: "\e963";
$icon-freepaytv: "\e964";
$icon-petanque: "\e965";
$icon-sw_pool: "\e966";
$icon-money: "\e967";
$icon-bed-queen: "\e968";
$icon-restaurant: "\e969";
$icon-romance: "\e96a";
$icon-bed-round: "\e96b";
$icon-safetybox: "\e96c";
$icon-seniors: "\e96d";
$icon-showeronly: "\e96e";
$icon-shuttle: "\e96f";
$icon-bed-single: "\e970";
$icon-bed-sofa: "\e971";
$icon-sport: "\e972";
$icon-weekend: "\e973";
$icon-yes: "\e948";
$icon-wechat: "\e947";
$icon-train: "\e946";
$icon-signout: "\e945";
$icon-share: "\e944";
$icon-settings: "\e943";
$icon-adr-place: "\e942";
$icon-payment: "\e941";
$icon-password: "\e940";
$icon-open: "\e93f";
$icon-no: "\e93e";
$icon-more: "\e93d";
$icon-monument: "\e93c";
$icon-paint: "\e93a";
$icon-burger-menu: "\e939";
$icon-loc: "\e938";
$icon-search: "\e937";
$icon-current-location: "\e936";
$icon-option: "\e935";
$icon-circle-less: "\e934";
$icon-instagram: "\e933";
$icon-info: "\e932";
$icon-human: "\e931";
$icon-google-plus: "\e930";
$icon-logo: "\e92f";
$icon-flower: "\e92e";
$icon-options-rtl: "\e92d";
$icon-circle-like: "\e92c";
$icon-circle-like-full: "\e92b";
$icon-facebook-dark: "\e92a";
$icon-facebook: "\e929";
$icon-mail: "\e928";
$icon-delete: "\e927";
$icon-circle-phone: "\e926";
$icon-circle-mail: "\e925";
$icon-circle-chat: "\e924";
$icon-confirming: "\e923";
$icon-confirmed: "\e922";
$icon-add: "\e921";
$icon-cross: "\e920";
$icon-departure: "\e91f";
$icon-arrival: "\e91e";
$icon-charge: "\e91d";
$icon-phone: "\e91c";
$icon-calendar: "\e91b";
$icon-bed: "\e91a";
$icon-bag: "\e919";
$icon-arrow-right-2: "\e918";
$icon-arrow-bot: "\e917";
$icon-arrow-left: "\e916";
$icon-arrow-top: "\e915";
$icon-arrow-right: "\e914";
$icon-added: "\e912";
$icon-add-circle: "\e911";
$icon-wifi: "\e910";
$icon-freewifi: "\e976";
$icon-star: "\e90f";
$icon-tulip-inn: "\e90d";
$icon-sarovar: "\e90c";
$icon-royal-tulip: "\e90b";
$icon-premiere-classe: "\e90a";
$icon-metropolo: "\e909";
$icon-kyriad: "\e908";
$icon-jinjiang-inn: "\e907";
$icon-golden-tulip-2line: "\e906";
$icon-golden-tulip-full: "\e905";
$icon-campanile: "\e904";
$icon-golden-tulip: "\e903";
$icon-scissors: "\e902";
$icon-burger: "\e900";
