@import '../../../../scss/config';

.MenuList {
  color: $white;
  font-weight: $font-weight-light;
  font-size: 1.2rem;
  flex-direction: column;
  display: flex;
  width: 100%;

  & > ul {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px $lighter-blue solid;
  }

  &__Menu {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__User {

  }

  &__Item{
    flex: 0 0 auto;
    line-height: 3rem;
    text-transform: uppercase;
    &:hover {
      color: $secondary-color;
      cursor: pointer;
    }
  }
}

@include media-breakpoint-up(md) {
  .MenuList {
    font-family: $font-dalaFloda;
    color: $primary-color;
    font-weight: 500;
    font-size: 2rem;
    text-transform: none;
    & > ul {
      border: none;
    }

    &__User {
      display: none;
    }
  }
}
